.inline-block {
  display: inline-block;
}

.pin-left {
  position: fixed;
  left: 20px;
  width: auto;
}

.pin-right {
  position: fixed;
  top: 10px;
  right: 20px;
  width: auto;
}

.logo {
  width: 50px;
}

.padding10 {
  padding: 10px;
}

.padding30 {
  padding: 30px;
}

.padding50 {
  padding: 50px;
}

.width40percent {
  width: 40%;
}

.width500px {
  width: 500px;
}

.widthauto {
  width: auto;
}

.margin-left-10percent {
  margin-left: 10%;
}

.background-fill {
   background: linear-gradient(to right, #cd3c73, #e95943);
}

.feature-heading {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.feature-subheading {
  font-size: 17px;
  color: #4c3328;
  font-family: 'Raleway', sans-serif;
}

.feature-paragraph {
  color: white;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.pricing-full {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.pricing-sup {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.redborder {
  border: solid 5px red;
}

.blueborder {
  border: solid 5px blue;
}

.button {
  background-color: white;
  color: #ed5e3f;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.white-link {
  color: white;
}

.underline-link {
  text-decoration: underline;
}

hr {
  border-top: 2px dashed #4c3328;
  border-bottom: none;
}

section div a {
  text-decoration: none;
  color: #f29d9c;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-bottom:
}
