.wrapper {
    margin: 0;
    width: 100%;
    padding: 10px;
}

.feature-wrapper {
    margin: 0;
    width: auto;
}

.navigationwrap {
    margin: 0;
    width: 49%;
    display: inline-block;
}

.feature-navigationwrap {
    margin: 0;
    width: 40%;
    display: inline-block;
}


.inline-block {
  display: inline-block;
}

/* inline-block WILL add whitespace*/

.right-align {
  text-align: right;
}

.pin-left {
  position: fixed;
  left: 20px;
  width: auto;
}

.pin-right {
  position: fixed;
  right: 0;
  width: auto;
}

.pin-top-right {
  position: fixed;
  top: 10px;
  right: 20px;
  width: auto;
}

.logo {
  width: 30px;
  padding-top: 10px;
}

.cart {
  width: 30px;
}

.padding10 {
  padding: 10px;
}

.padding30 {
  padding: 30px;
}

.padding50 {
  padding: 50px;
}

.padding-left10percent {
  padding-left: 10%;
}

.margin-left10px {
  margin-left: 10px;
}

.padding-topbottom50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

.width20percent {
  width: 20%;
}

.width40percent {
  width: 40%;
}

.width80percent {
  width: 80%;
}

.width500px {
  width: 500px;
}

.widthauto {
  width: auto;
}

.margin-left-10percent {
  margin-left: 10%;
}

.background-fill {
   background: linear-gradient(to right, #cd3c73, #e95943);
}

.feature-heading {
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.feature-subheading {
  font-size: 14px;
  color: #4c3328;
  font-family: 'Roboto', sans-serif;
}

.feature-paragraph {
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

.feature-image {
  width: 500px;
}

.pricing-full {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.pricing-sup {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.product-header {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.product-sub-header {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.product-content-paragraph {
  color: gray;
  font-family: 'Roboto', sans-serif;
}

.redborder {
  border: solid 5px red;
}

.blueborder {
  border: solid 5px blue;
}

.greenborder {
  border: solid 5px green;
}

.button {
  background-color: white;
  color: #ed5e3f;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.white-link {
  color: white;
}

.underline-link {
  text-decoration: underline;
}

.heading-box {
  font-size: 25px;
  font-weight: bold;
  color: #4c3328;
  background-color: #fcefec;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.product-name-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.product-name-sub-text {
  font-size: 15px;
  color: #4c3328;
  font-family: 'Roboto', sans-serif;
}

.white-fill {
  background-color: white;
}

.footer-link {
  color: #4c3328;
  text-decoration: underline;
  font-size: 14px;
}

.footer-text {
  color: #4c3328;
  font-size: 14px;
}

hr {
  border-top: 2px dashed #4c3328;
  border-bottom: none;
}

section div a {
  text-decoration: none;
  color: #f29d9c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

#product-detail-seperator {
  border-top: 2px solid #f3c4c4;
  border-bottom: none;
}
